@font-face {
    font-family: "Euclid";
    src: url("../fonts/EuclidCircularABold.woff");
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf");
}
:root{
    /* Light-Theme */  
         --active:#5046e5;
         --active-dark:#483fcf;
         --active-darker:#3f37b7;

         --bg: #ffffff; 
         --bg-dark: #f8f8f8;
         --bg-darker: #d2d2d2;
         --bg-dark-light:#d7dce7;
         --bg-grey:#fafcff;
         --bg-grey-dark:#e9ecf2;
         
         --txt-light:#fff;
         --txt-darker: #0a0a0a; 
         --txt-dark:#1b232c;
         --txt-dark-light: #5f666e;  
         --txt-dark-lighter: #9098a4; 
}

/* global */
body{
   background-color: var(--bg-grey); 
}
ul, ol {
    list-style-type: none !important;
}
*{
    box-sizing: border-box !important;
}
.form-control, .btn {
   box-shadow: none !important;
}
 
/* text-components */
.txt-title{
    font-family: "Euclid"; 
}
.txt-text{
    font-family: "Inter"; 
} 

/* color-components */
.colr-active{
    color: var(--active);
}
.colr-dark{
    color: var(--txt-dark);
} 
.colr-darker{
    color: var(--txt-darker);
} 
.colr-dark-light{
    color: var(--txt-dark-light);
}
.colr-dark-lighter{
    color: var(--txt-dark-lighter);
}


/* background-color-components */
.bg-colr-active{
    background-color: var(--active);
}
.bg-colr-dark{
    background-color: var(--txt-dark);
}
.bg-colr-dark-light{
    background-color: var(--txt-dark-light);
}
.bg-colr-dark-lighter{
    background-color: var(--txt-dark-lighter);
}



/* navbar */
.navbar{ border-bottom:1px solid var(--bg-grey-dark);background-color:var(--txt-light) !important;}
.navbar .nav-item a{ 
    color: var(--txt-dark) !important;
}
.navbar .nav-item:hover:not(.dropdown) a{ color: var(--active) !important;} 
.navbar .profile-img{
     width:35px;
}
.navbar .dropdown .dropdown-menu a.dropdown-item:active{
    color: var(--txt-light) !important;
    background-color: var(--active) !important;
}
.navbar .dropdown .dropdown-toggle::after{ 
    border: none;
} 

/* form-containers */
@media screen and (max-width:1076px) {
    .form-container{ min-width: 350px;}
}
  .form-container{  
    width:25%; 
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    position: fixed;
  }
  .form-container .form-control, .form-container .btn-submit, .form-container .form-action {
     border-radius:5px;
     font-size: 18px;
  }
  .form-container .form-control, .form-container .form-action{
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-darker);
  }
  .form-container .form-action{overflow: hidden;}
  .form-container .form-action .btn:hover, .form-container .form-action .btn:active {background-color: transparent !important;color: var(--active);}
  .form-container .form-action .form-action-item {border:none;border-radius:0px !important;}
  .form-container .form-control:focus, .form-container .form-action:focus-within {
    border: 2px solid var(--active);
  } 
  .form-container .form-action .form-action-item:focus{ border:none !important;}
  .form-container .btn-submit{
      background-color: var(--active);
      color: var(--txt-light);
  }
  .form-container .btn-submit:hover{
    background-color: var(--active-dark);
    color: var(--txt-light);
  }
  .form-container .btn-submit:active{
    background-color: var(--active-darker);
    color: var(--txt-light);
  }

/* Body-content */
.divider{
    background-color: var(--bg-grey-dark);
    padding: 1px;
}
.btn-custom{   
    border-radius: 5px;
    font-size: 18px;
    margin: 2px;
}
  .btn-custom-active{
    background-color: var(--active);
    color: var(--txt-light);
}
.btn-custom-active:hover{
    background-color: var(--active-dark) !important;
    color: var(--txt-light) !important;
  }
.btn-custom-active:active{
    background-color: var(--active-darker) !important;
    color: var(--txt-light) !important;
  }
.btn-custom-dark{
    background-color: var(--bg);
    color: var(--txt-dark);
    border:1px solid var(--bg-darker) !important;
  }
  .btn-custom-dark:hover {
    background-color: var(--bg-dark) !important; 
  }
  .btn-custom-dark:active {
    background-color: var(--bg-dark-light) !important; 
  }
  .sidebar .profile-img{
     width:55px;
     height: 55px;
  }
  .list-group .list-group-item .bi{color: var(--active);}
  .list-group .list-group-item{
     background: transparent;
     border: none;
     border-radius: 5px; 
  }
  .list-group .list-group-item:hover{
      color: var(--active) !important;
      background-color: var(--bg-grey-dark);
  }
    /* side-bar */



/* Tasks-feed */
.ts-feed-group-header .line-hr{
    background-color: var(--bg-dark-light);
    height:1px;
    width: 70%;
}  
.ts-feed-group-header .feed-toggler{width:30%;}   
.ts-feed-group-header .feed-toggler.collapsed[aria-expanded="false"] {
    color: var(--active) !important;
}
.task-item{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18);
}

/* Add task */