{% extends "headers/base.html" %}

{# view-header #}
 {% block viewHeader %} 
   {% include "headers/navbar.html" %}
 {% endblock %}
{# /*view-header #}

{# view-Content #}
{% block viewContent %}
{% load static %}   
<main class="container col-lg-8 mt-4">
    <div class="main-content row">
{# sidebar #}
<div class="sidebar col-lg-3">
    
    <div class="profile-bx d-flex justify-content-start align-items-center gap-3 py-1 mb-2 ps-2">
        <img src="{% static '/images/avatar.jpg' %}" class="rounded-circle profile-img" alt="profile-img" srcset="">
        <div class="profile-info">
           <span class="fullnames d-block txt-title fw-semibold fs-5 colr-darker">Axel Tokam</span> 
           <span class="username d-block txt-text fw-lighter small colr-dark-light">@axeltokam</span>
        </div>
    </div>
   

   <div class="list-group py-1 px-1 mt-4">
    <span class="fs-6 txt-title fw-semibold colr-dark opacity-80 ps-2">Your Account</span>
    <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
      <span class="bi bi-person"></span>
      <span class="fs-6 colr-dark">Profile</span>
    </a>
      <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
        <span class="bi bi-gear"></span>
        <span class="fs-6 colr-dark">Settings</span>
      </a>
   </div>
   

   <div class="list-group py-1 px-1 my-3">
    <span class="fs-6 txt-title fw-semibold colr-dark opacity-80 ps-2">Task Manager</span>
    <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
      <span class="bi bi-list-task"></span>
      <span class="fs-6 colr-dark">All Tasks</span>
    </a>
      <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
        <span class="bi bi-check-all"></span>
        <span class="fs-6 colr-dark">Completed</span>
      </a>
      <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
        <span class="bi bi-stopwatch"></span>
        <span class="fs-6 colr-dark">Pending</span>
      </a>
      <a href="" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-2 my-1 ps-2">
        <span class="bi bi-trash"></span>
        <span class="fs-6 colr-dark">Canceled</span>
      </a>
   </div>
   
    
  </div>
{# /*sidebar #}
{# main-bd #}
  <div class="main-bd col-lg-9">


    <div class="bd-greetings m-0 border-0">
        <div class="alert alert-light bg-primary-subtle text-primary-emphasis border border-primary-subtle alert-dismissible fade show d-flex flex-column gap-1 pb-0" role="alert">
          <h5 class="colr-dark txt-title alert-heading py-0 my-0">Welcome back @username !</h5>
          <p class="fs-6 small colr-dark-light">Create, modify, organise and save your daily tasks.</p>
         </div>
     </div>

    <div class="header d-flex justify-content-between align-items-center py-2">
    <h3 class="fs-4 txt-title fw-bold colr-dark py-0 my-0">My Tasks</h3>
    <span class="btns">
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-active fs-6 px-2 align-items-md-center justify-content-between">Add Task <i class="bi-plus-circle"></i></a>
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-dark fs-6 px-2 align-items-md-center justify-content-between"><i class="bi-gear"></i></a>
    </span>
    </div>

    {# tasks-content #}
    <div class="task-feed mt-2">
    
        {# Tasks-group #}
        <div class="ts-feed-group" id="tasksGroupOne">
           <div class="ts-feed-group-header d-flex justify-content-between align-items-center gap-1 px-0 mx-0">
             <span class="feed-toggler collapsed d-flex align-items-center gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#recentlyAdded" aria-expanded="false" aria-controls="recentlyAdded">
               <span class="bi bi-chevron-right mx-1"></span>
               <span class="bi bi-clipboard-check"></span> 
               <span class="small fw-medium">Recently Added Tasks</span>
             </span>
             <span class="line-hr d-block rounded"></span>
           </div>
           <div id="recentlyAdded" class="list-group ts-feed-group-body collapse" data-bs-parent="#tasksGroupOne">
             
            <div class="task-item py-3">
                 <i>One two three </i>
             </div>

           </div> 
        </div>
          
          
        {# ...Tasks #}

    </div>

  </div>
{# /*main-bd #}
    </div> 
</main>


{% endblock %}
{# /*view-content #}