{% extends "headers/base.html" %}

{# view-header #}
 {% block viewHeader %} 
   {% include "headers/navbar.html" %}
 {% endblock %}
{# /*view-header #}

{# view-Content #}
{% block viewContent %}
{% load static %}   
<main class="container col-lg-8 mt-4">
    <div class="main-content row">
{# sidebar #}
<div class="sidebar col-lg-3">
    <h1>Hello</h1>
  </div>
{# /*sidebar #}
{# main-bd #}
  <div class="main-bd col-lg-9">
    
    <div class="header d-flex justify-content-between align-items-center py-2">
    <h3 class="fs-4 txt-title fw-bold colr-dark py-0 my-0">My Tasks</h3>
    <span class="btns">
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-active fs-6 px-2 align-items-md-center justify-content-between">Add Task <i class="bi-plus-circle"></i></a>
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-dark fs-6 px-2 align-items-md-center justify-content-between"><i class="bi-gear"></i></a>
    </span>
    </div>

  </div>
{# /*main-bd #}
    </div> 
</main>


{% endblock %}
{# /*view-content #}