{% extends "headers/base.html" %}

{# view-header #}
 {% block viewHeader %} 
   {% include "headers/navbar.html" %}
 {% endblock %}
{# /*view-header #}

{# view-Content #}
{% block viewContent %}
{% load static %}   
<main class="container col-lg-8 mt-4 mb-5 pb-5">
    <div class="main-content row">
     {# sideBar #}
     {% include "headers/sidebar.html" %}
{# main-bd #}
  <div class="main-bd col-lg-9"> 

    <div class="header d-flex justify-content-between align-items-center py-2">
    <h3 class="fs-4 txt-title fw-bold colr-dark py-0 my-0">My Tasks</h3>
    <span class="btns">
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-active fs-6 px-2 align-items-md-center justify-content-between">Add Task <i class="bi-plus-circle"></i></a>
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-dark fs-6 px-2 align-items-md-center justify-content-between"><i class="bi-gear"></i></a>
    </span>
    </div>

    {# tasks-content #}
    <div class="task-feed mt-2" id="taskFeedApp">
    
        {# Tasks-group #}
        <div class="ts-feed-group mt-2 mb-3 pb-3" :id="tasksGroupOne">
           <div class="ts-feed-group-header d-flex justify-content-between align-items-center gap-1 px-0 mx-0">
             <span @click="GroupOneToggle()" class="feed-toggler small collapsed d-flex align-items-center gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#recentlyAdded" aria-expanded="true" aria-controls="recentlyAdded">
               
               <span v-if="!tasksGroupOne.active" class="bi-chevron-right bold me-1"></span>
               <span class="bi-chevron-down bold me-1" v-else></span>

               <span class="bi-clipboard-check"></span> 
               <span class="fw-medium">Recently Added Tasks </span>
             </span>
             <span class="line-hr d-block rounded"></span>
           </div>
           <div id="recentlyAdded" class="list-group ts-feed-group-body collapse show" data-bs-parent="#tasksGroupOne">
            <h5 class="fs-5 txt-title fw-medium mt-3">Recently Added Tasks </h5>
            
            {% include "headers/tasks_list_pending.html" %}
              
           </div> 
        </div>
 
        {# Tasks-group #}
        <div class="ts-feed-group mt-2 mb-3 pb-3" :id="tasksGroupTwo">
          <div class="ts-feed-group-header d-flex justify-content-between align-items-center gap-1 px-0 mx-0">
            <span @click="GroupTwoToggle()" class="feed-toggler small d-flex align-items-center collapsed gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#completedTasks" aria-expanded="false" aria-controls="completedTasks">
              
              <span v-if="tasksGroupTwo.active" class="bi-chevron-right bold me-1"></span>
              <span class="bi-chevron-down bold me-1" v-else></span>

              <span class="bi-clipboard-check"></span> 
              <span class="fw-medium">Completed Tasks </span>
            </span>
            <span class="line-hr d-block rounded"></span>
          </div>
          <div id="completedTasks" class="list-group ts-feed-group-body collapse" data-bs-parent="#tasksGroupTwo">
           <h5 class="fs-5 txt-title fw-medium mt-3">Completed Task </h5>
           
           {% include "headers/tasks_list_completed.html" %}

          </div> 
       </div>
          
        {# ...Tasks #}

    </div>

  </div>
{# /*main-bd #}
    </div> 
</main>

<script>
  const { createApp } = Vue;
  
  const taskFeedApp = createApp({
        delimiters: ["${", "}"],
        data(){
           return {
            tasksGroupOne: {
                tasksList: ["app"],
                active: true 
            },
            tasksGroupTwo: {
                tasksList: ["app"],
                active: true, 
            }
           }
        },
        methods: {
          GroupOneToggle(){
              this.tasksGroupOne.active = this.tasksGroupOne.active == false ? true : false;
          },
          GroupTwoToggle(){
              this.tasksGroupTwo.active = this.tasksGroupTwo.active == false ? true : false;
          }
        }, 
  }).mount("#taskFeedApp");
</script>
{% endblock %}
{# /*view-content #}