{% load static %}

{# Tasks #}
<div class="task-item mt-1 mb-3 py-4 px-3 rounded-3 bg-white">
    <div class="task-item-body d-flex justify-content-between align-items-stretch">
       <div class="task-item-info">
        <span class="txt-text colr-dark item-title fw-semibold mt-3 mb-5">Clean the living room and the backyard</span>
        <p class="colr-dark-lighter">Use a broom and some clean water to clean the living room</p>
       </div>
       <div class="btn-bx"> 
        <a href="" class="btn btn-default btn-sm btn-custom btn-custom-dark fs-6 px-2 align-items-md-center justify-content-between"><i class="bi-trash3"></i>  <span class="txt-text colr-dark ps-1">Delete</span></a>
       </div>
    </div>
    <div class="task-item-footer fw-medium d-flex justify-content-between mt-2 align-items-center">
      <span class="task-time small colr-dark-light d-flex gap-2"><span class="bi-alarm"></span> <span>12:30:12</span> <b>on</b> <span>Monday 12 Jul 2023</span></span>
      <span class="task-item-badge small rounded-2 px-2 py-1 text-warning-emphasis bg-warning-subtle border border-warning-subtle">Completed</span>
    </div>
  </div>  